/* -------------------------------------------------------------------------------------------  ABOUT THE GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
}

:root{
    --grid-col: 1;
    --grid-row: 1;
}

body{
    width: 100%;
    height: 100vh;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}



/* -------------------------------------------------------------------------------------------  ABOUT THE HEADER */

header{
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
   /* background-color: purple; */
}

.header{
    
    
    display: flex;
    position: relative;
}

#title{
    width: 100%;
    
    justify-content: center;
}

#madeBy{
    width: 18%;
    position: absolute;
    right: 10px;
    margin: 5px;
   /*  background-color: red; */
}





/* -------------------------------------------------------------------------------------------  ABOUT THE MAIN  */
/* GRID FIELD */

main{
    width: 100%;
    height: 70vh;
    /* background-color: red; */ 
    display: flex;
    /*border: 2px solid purple; */
    position: relative;
    top: 30px;
    padding: 10px;
    top: -15px;
    
}


#grid{
    flex-grow: 2;
    /* background-color: orange; */ 
    display: flex;
    justify-content: center;
}


#theGrid{
    width: 530px;
    height:530px;
    display: inline-grid;
    background-color: white;
    /*
    grid-template-rows: repeat(var(--gird-rows), 1fr);
    grid-template-columns: repeat(var(--grid-col), 1fr);
    margin-top: 10px;*/
}


/* -------------------------------------------------------------------------------------------  ABOUT THE FOOTER */

footer{
    height: 20vh;
    width: 100%;
    /*background-color: green; */
    display: flex;
    justify-content: center;
    
}


.toolbox{
    width: 100%;
   /*background-color: yellow;*/
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-item{
   width: 200px;
    /* background-color: green; */
    /*border: 2px solid purple;*/
    margin: 10px;
    display: flex;
    justify-content: center;
}

#size{
    flex-grow: 2;
    display: flex;
    justify-content: center;
}
/* -------------------------------------------------------------------------------------------  ABOUT THE COLOR PICKER */


.circleColor, .circleDelete{
    display: flex;
    align-items: center;
    font-size: 20px;

}



#color{
    width: 100%;;
    height: 100%;
    
  
}

/* -------------------------------------------------------------------------------------------  ABOUT THE FLEX-ITEM 2 (POST ITS) */

.circlesDiv, .postItDiv{
    width: 250px;
    /* border:2px solid grey; */
     margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
}


.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #a52a2a;
    color: white;
    margin: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.postItDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.postIt{
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    box-shadow: 10px 10px  grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    margin: 2px;
    font-size: 20px;
}

.postIt:hover{
    background-color: #a52a2a;
    box-shadow: 10px 10px  hsl(0, 0%, 30%);
    transition: 0.3s ease;
    cursor: pointer;
}

.circleColor{
    justify-content:flex-start;
    position: relative;   
}





#color{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 100%;
  position: absolute;
  height: 100px;
  border: none;
  cursor: pointer;
}

#color::-webkit-color-swatch {
    border-radius: 50%;
        
}


#color::-moz-color-swatch {
    border-radius: 50%;
    
}

#colorBrush{
    position: absolute;
    left: 42px;
}


.circle:hover{
    transition: 0.3 ease;
    box-shadow: 1px 1px  30px silver;
}


.active{
    transition: 0.3 ease;
    box-shadow: 1px 1px  30px silver;
    
}

.circle:active{
    transform: scale(0.95);
    transition: 0.5 ease;
}


.onlyABorderForDelete{
    border: 1px solid grey;
    border-radius: 50%;
    width: 92%;
    height: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

#magic{
   background-image: url('rainbow.jpg');
   background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
   

}







