*{
    box-sizing: border-box;
}

:root{
    --grid-col: 1;
    --grid-row: 1;
}

body{
    width: 100%;
    height: 100vh;
    background-color:black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   
}


/* -------------------- STYLES TITLE FIELD */

#title{
    border-bottom: 1px solid white;
    width: 100%;
    text-align: center;
}




/* -------------------- STYLES ACTION FIELD: GRID CONTAINER & DELETE & COLOR PICKER */

.actionField{
    width: 100%;
    display: flex;
    align-items: center;
}

.delete{
    width: 30%;
    /* background-color:darkcyan; */
    height: 100%;
    width: 500px;
    position: relative;
}

.delete-wrapper{
    border: 6px solid white;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 375px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#delete{
    font-size: 30px;
    cursor: pointer;
    width: 500px;
    position: absolute;
    left: 30px;
}


.gridWrapper{
    width: 40%;
   /*background-color: blue; */
}

#gridContainer{
    width: 500px;
    height:500px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(var(--gird-rows), 1fr);
    grid-template-columns: repeat(var(--grid-col), 1fr);
    margin-top: 10px;
    position: relative;
    left: 30px;
}

#gridContainer div:hover{
    background-color: grey;
    cursor: pointer;
}
 

.colorpickerWrapper{
    width: 30%;
    /* background-color: green; */
    height:100%;
    position: relative;
    
}

.colorPicker{
    width: 500px;
    position: absolute;
    top: 200px;
}



#colorPicker{
    width: 100px;
    height: 100px;
    cursor: pointer;
    
}

#colorBrush{
    font-size: 30px;
    position: relative;
    left: 65px;
    bottom: 27px;
    cursor: pointer;
}


/* -------------------- STYLES CHANGE FIELD FOR GRID SIZE */


.changeGridSize{
    border-top: 1px solid white;
    width: 100%;
    height: 100px;
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
}

#changeGridSizeLabel{
    position: relative;
    top: 10px;
}


.fields{
    /* background-color: red;*/
    display: flex;
    margin-top: 10px;
    
}

.inputsField{
    /*background-color: orange; */
    width: 60%;
    display: flex;
    justify-content: end;
}

.outputsField{
    /*background-color: green; */
    width: 40%;
    text-align: start;
}

.outputsField p{
    position: relative;
    top: 2px;
    font-size: 15px;
    color: red;
    letter-spacing: 1px;
}

#changegridSizeInput{
    margin-top: 15px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    left: -30px;
   
}

#buttonForChange{
    height: 25px;
    position: relative;
    top: 15px;
    left: -20px;
    cursor: pointer;
    margin-right: 10px;
}








