/* -------------------------------------------------------------------------------------------  ABOUT THE GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
}

:root{
    --grid-col: 1;
    --grid-row: 1;
}

body{
    width: 100%;
    background-color: #312F2F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}



/* -------------------------------------------------------------------------------------------  ABOUT THE HEADER */

header{
    width: 100%;
    height: 5vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}


#title{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 8px;
}

#madeBy{
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: -5px;
    margin: 20px 60px;
}





/* -------------------------------------------------------------------------------------------  ABOUT THE MAIN  */
/* GRID FIELD */

main{
    width: 100%;
    position: relative;
    padding: 10px;

 
}


#grid{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}


#theGrid{
    width: 600px;
    height: 500px;
    display: inline-grid;
    background-color: white;




    /*border: 5px solid purple;*/
 
}


/* -------------------------------------------------------------------------------------------  ABOUT THE FOOTER */




.toolbox{
    height: 20vh;
    width: 100%;
    background-color: rgba(255,255,255, 0.2);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.flex-item{
   width: 100px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255, 0.8);

}



/* -------------------------------------------------------------------------------------------  ABOUT THE FLEX-ITEM 2 (POST ITS) */



.tool{
    width: 60px;
    height: 60px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: relative;
    cursor: pointer;
}

.color_input{
    position: absolute;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

#colorBrush{
    position: absolute;
    z-index: 1000;
}


.size{
    color: black;
    cursor: pointer;
}




@media screen and (max-width: 1100px){
    
    
    header{
        height: 10vh;
    }

    #madeBy{
       right: -30px;
       top: 10px;
    }

    .flex-item{
        width: 80px;
      
    }
}



@media screen and (max-width: 600px){

    .flex-item{
        width: 70px;
      
    }

     #madeBy{
       top: 40px;
       right: -45px;
    }
}



@media screen and (max-width: 450px){

    header{
        height: 15vh;
    }

    #madeBy{
       top: 70px;
    }


    .flex-item{
        width: 50px;
        height: 50px;
      
    }
}


// media queries für < 400px???
